/* @google-font */
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Fasthand&family=Freehand&family=Koulen&family=Moulpali&family=Odor+Mean+Chey&family=Poppins&family=Roboto&family=Siemreap&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

/* @background-image */
body{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../image/bg.jpg');
}
/* @global-color */
:root{
    --color-white:#ffffff;
    --color-orange: #ff301b;
    --color-orange-light:#f1412f;
    --color-black:black;
    --color-pink-light:#d98076;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.mobile-menu{
    background-color: rgba(0, 0, 0, 0.67);
    display: none;
    z-index: 1;
}
/* @header */
header{
    background-color: rgba(0, 0, 0, 0.67);
}
/* @logo-website */
.logo-website img{
    height: 70px;
}

/* @all-width */
.all-width{
    width: 990px;
    margin: 0px auto;
}
/* @header-date */
.date span{
    color: var(--color-white);
}
/* @navigation */
.menu{
    margin-top: -20px;
}
.menu ul{
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    color: var(--color-white);
    padding: 0px 20px;
    display: block;
}
.menu ul li a.active{
    font-weight: 900;
    color: var(--color-orange);
}

/* @main-content */
main{
    margin-top: 110px !important;
}
/* @slide-show */
figure img{
    width: 100%;
}

/* @right-menu */
.right-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -100%;
    z-index: 2;
    background-color: var(--color-white);
}
.right-menu ul li{
    margin: 10px 20px;
}
.right-menu ul li a{
    padding: 10px 20px;
    font-size: 15px;
    color: var(--color-orange);
}
.right-menu ul li a.active{
    color: var(--color-black);
}
.header-right-menu{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 13, 13);
}
.header-right-menu img{
    height: 60%;
}
.header-right-menu span{
    color: var(--color-white);
    font-size: 20px;
    margin-left: 10px;
    opacity: 0.8;
}
.header-right-menu span:hover{
    opacity: 1;
}


/* @live-result */
.live-result{
    max-width: 49%;
    border-radius: 7px;
    background-color: var(--color-pink-light);
}
/* @new-draw */
.next-draw{
    display: flex;
    font-weight: 500;
    font-size: 30px;
    padding: 10px 0px;
    justify-content: center;
    color: var(--color-black);
}
/* @myBorder */
.myBorder{
    width: 100%;
    box-shadow: 0px 1px 5px 0px var(--color-black);
    border-top: 2px solid var(--color-orange);
}
/* @circle */
.date-draw{
    width: 65%;
    padding-left: 30px;
    margin: 20px auto;
}
.date-draw span{
    color: var(--color-white);
    font-size: 35px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 8px;
}
.date-draw p{
    padding-top: 10px;
    color: var(--color-white);
}
.circle{
    box-shadow: 0px 0px 3px 0px var(--color-black);
    float: left;
    width: 70px;
    height: 70px;
    display: flex;
    font-size: 35px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-orange);
    color: var(--color-white);
}
/* @result-lottery */
.result-lottery{
    width: 65%;
    margin: 20px auto;
}
.result{
    border-top: 2px inset rgb(162, 162, 162);
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    border-radius: 7px;
    background-color: var(--color-white);
}
/* @generate */
.generate{
    text-shadow: -1px 1px 3px var(--color-black);
    color: var(--color-orange);
    height: fit-content;
    font-size: 18px;
    width: fit-content;
    background-color: gray;
    border-radius: 7px;
    margin-top: 10px;
    text-align: center;
}
/* @draw-number */
.draw-number span{
    color: var(--color-black);
    font-size: 12px;
    font-weight: 900;
   margin-top: -17px;
}
/* @result-number */
.result-number{
    width: 80%;
    margin: 20px auto;
    margin-top: 40px;
}
.text-result{
    color: var(--color-white);
    padding-top: 15px;
}
.num-circle{
    box-shadow: 0px 0px 3px 0px var(--color-black);
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 4px;
}
/* @table */
.table tr th:nth-child(1){
    text-align: center;
    color: var(--color-white);
}
.table tr th:nth-child(n+2){
    padding-left: 35px;
    color: var(--color-black);
}
tbody{
    padding: 10px;
}

td{
    text-align: center;
    color: var(--color-white);
}
td .col-3{
  margin: 0px -10px;

}

.table-circle{
    box-shadow: 0px 0px 3px 0px var(--color-black);
    width: 30px;
    height: 30px;
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
/* @border-table */
.border-table{
    position: absolute;
    box-shadow: 0px 1px 5px 0px var(--color-black);border-top:2px solid var(--color-orange) !important;width: 95%;top: 48px;left: 2.5%;
}
/* @did-i-win */
.did-i-win{
    max-width: 49%;
    border-radius: 7px;
    background-color: var(--color-pink-light);
}
.did-i-win .col-8{
    color: var(--color-white);
}

/* @footer */
footer .col-4{
    color: var(--color-white);
    font-size: 13px;
}
footer p{
    float: right;
}
footer figure img{
    float: right;
    width: auto !important;
}

/*responsive code*/
/*mobile phone*/
@media (max-width: 575px) {
    /* @body-background-image */
    body{
        background-size: 100% 100%;
    }
    /* @all-width */
    .all-width{
        width: 100%;
    }
    /* @mobile-menu */
    .mobile-menu{
        display: block;
    }
    .mobile-menu img{
        height: 40px;
    }
    /* @bar-button */
    .mobile-menu span{
        cursor: pointer;
        color: var(--color-white);
        margin-top: 5px;
        float: right;
        font-size: 20px;
    }
    /* @header */
    header{
        display: none;
    }
    /* @slide-show */
    .slide-show{
        margin-left: 0px;
        margin-right: 0px;
    }
    /* @main */
    main{
        margin-top: 50px !important;
    }
    /* @live-result */
    .col-6.live-result{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mobile-result{
        margin: 0px 15px !important;
    }
    /* @date-draw */
    .date-draw{
        width: 100%;
    }
    /* @result-lottery */
    .result-lottery {
        width: 80%;
    }
    /* @live-result */
    .live-result{
        margin-bottom: 10px;
    }
    /* @result-number */
    .result-number{
        width: 100%;
    }
    .num-circle {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    /* @table-responsive */

    .table-result{
        margin-left: 0px;
        margin-right: 0px;
    }
    .table-circle {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    .table tr th:nth-child(1){
      font-size: 10px;
    }
    .date-result{
        padding-top: 15.5px !important;
        font-size: 7px !important;
    }
    .table tr th:nth-child(n+2){
        padding-left: 0px;
    }
    .table th{
        font-size: 10.5px;
    }
    .table td{
        font-size: 6px;
        padding: 0px;
    }
    tr td:nth-child(1){
        padding-left: 5px;
       padding-top: 10px;
    }
    td .row{
        margin: 8px 0px;
    }
    td .col-3{
      margin-left: -3px;
      
    }
    /* @border-table */
    .border-table{
        width: 89%;
        top: 35px;
        left: 5.5%;
    }
    /* @did-i-win */
    .did-i-win{
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
        flex: 0 0 100%;
        max-width: 92%;
        margin-bottom: 10px;
    }
    .did-i-win .col-8 h3{
        font-size: 18px;
    }
    .did-i-win .col-8{
        font-size: 12px;
    }
    /* @footer */
    footer .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    footer figure img{
        margin-right: 40px;
    }
    footer .col-3:first-child{
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .col-2{
        flex: 0 0 50%;
        max-width: 50%;
    }
    footer .col-3:last-child{
        flex: 0 0 50%;
        max-width: 50%;
    }
}


/*ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    /* @body-background-image */
    body{
        background-size: 100% 100%;
    }
    /* @date */
    .date span{
        padding-right: 20px;
    }
    /* @slide-show */
    .slide-show{
        margin-left: 0px;
    }
    /* @live-result */
    .live-result {
        margin-left: 14px;
        max-width: 48%;
    }
    /* @table-result */
    .table-result{
        margin-left: 0px;
    }
    /* @did-i-win */
    .did-i-win{
        max-width: 48.5%;
        margin-left: 14px;
     }
     /* @footer */
     footer .row{
        margin-left: 0px;
     }
} 

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199px) {
    /* @body-background-image */
    body{
        background-size: 100% 100%;
    }
} 

/*laptop*/
@media (min-width: 1200px)  {
    
}